## Panda

In [2]:
# Importing the panda library
import pandas as pd

In [3]:
# how to create dataframe out of dictionary
x = {'Name': ['Shahab','Aizaz', 'Abbas',  'Meto'], 'ID': [1, 2, 3, 4], 'Department': ['Computer Science', 'Physio Therapy', 'Design Team', 'Infrastructure'], 
      'Salary':[100000, 80000, 50000, 60000]}
df = pd.DataFrame(x)
df

     Name  ID        Department  Salary
0  Shahab   1  Computer Science  100000
1   Aizaz   2    Physio Therapy   80000
2   Abbas   3       Design Team   50000
3    Meto   4    Infrastructure   60000

In [4]:
#accessing coloum in the dataframe and assigning to variable
d = df[['Department', 'ID']]
d

         Department  ID
0  Computer Science   1
1    Physio Therapy   2
2       Design Team   3
3    Infrastructure   4

In [5]:
# reading csv file
iris = pd.read_csv(r'D:\python_practice\02_pandas_library\DataSets\iris.csv')
iris.head()
 # This dataset doesn't have header names, panda treat the first element in every column as header.

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [6]:
#These iris dataframe doesn't have header, we will give it header name to the coloumns, and update the above cell
column_names = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']
iris = pd.read_csv(r'D:\python_practice\02_pandas_library\DataSets\iris.csv', header=None, names = column_names)

iris.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [7]:
# now we can do manipulation in the data 
length = iris[["sepal_length", "petal_length"]]
length

     sepal_length  petal_length
0             5.1           1.4
1             4.9           1.4
2             4.7           1.3
3             4.6           1.5
4             5.0           1.4
..            ...           ...
145           6.7           5.2
146           6.3           5.0
147           6.5           5.2
148           6.2           5.4
149           5.9           5.1

[150 rows x 2 columns]

In [8]:
length.describe() 
# it is like instant statistic function, as you can see under in the output.

       sepal_length  petal_length
count    150.000000    150.000000
mean       5.843333      3.758000
std        0.828066      1.765298
min        4.300000      1.000000
25%        5.100000      1.600000
50%        5.800000      4.350000
75%        6.400000      5.100000
max        7.900000      6.900000

In [9]:
iris['species'].unique() 
# it will pick the unique item from the column.

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

### loc() and iloc() functions

loc() is a label-based data selecting method which means that we have to pass the name of the row or column that we want to select.

In [10]:
iris.loc[0, "petal_width"]   # np.float64(0.2)
iris.loc[3, "petal_length"]   
# in the loc() we only pass the names of the row and colums.

np.float64(1.5)

iloc() is an indexed-based selecting method which means that we have to pass an integer index in the method to select a specific row/column

In [11]:
iris.iloc[2,2]

np.float64(1.3)

### slicing
So if you want to select rows 0, 1, and 2 your code would look like this: df.iloc[0:3].
It means you are telling Python to start at index 0 and select rows 0, 1, 2 up to but not including 3.

In [12]:
iris.iloc[0:3, 0:4]

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2

In [13]:
iris.loc[0:4, "sepal_length": "species" ]

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [14]:
# we have saved the new file of data, with a header name given in to the columns.
iris.to_csv(r'D:\python_practice\02_pandas_library\DataSets\iris_cleaned.csv', index=False)