# Python Learning Journey 
  This notebook contains all my daily practice.

In [ ]:
print("hello world!")
print("My python journey begins, from zero to hero")

hello world!
My python journey begins, from zero to hero

1-Type and typecasting

In [ ]:
type(2)                     #int
type(45.55)                 #float
type("Shahab")              #str

str

In [19]:
int(4.1)              # 4
float(45)             # 45.0
str(4)               # '4'

'4'

2-Expression and Variables

In [22]:
total_min = 45+35+24
total_hours = total_min / 60
print(total_hours)

1.7333333333333334

3-String operations

In [ ]:
# access through indexing
name = "Shahab Ahmad"
print(name[3])

h

In [25]:
# Slicing
name = "Shahab Ahmad"
print(name[0:5])

Shaha

In [ ]:
# Striding
name = "Shahab Ahmad"
print(name[::2])                 
print(name[0:8:2])

Saa ha
Saa

In [32]:
# Converting to upper case
a = "Shahab Ahmad is beginner in python"
b = a.upper()
print(b)

SHAHAB AHMAD IS BEGINNER IN PYTHON

In [35]:
# finding and replacing something in the string
p = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"
print(p.find("snow"))
print(p.replace("Mary", "Shahab"))
print(p.split())

95
Shahab had a little lamb Little lamb, little lamb Shahab had a little lamb Its fleece was white as snow And everywhere that Shahab went Shahab went, Shahab went Everywhere that Shahab went The lamb was sure to go
['Mary', 'had', 'a', 'little', 'lamb', 'Little', 'lamb,', 'little', 'lamb', 'Mary', 'had', 'a', 'little', 'lamb', 'Its', 'fleece', 'was', 'white', 'as', 'snow', 'And', 'everywhere', 'that', 'Mary', 'went', 'Mary', 'went,', 'Mary', 'went', 'Everywhere', 'that', 'Mary', 'went', 'The', 'lamb', 'was', 'sure', 'to', 'go']

In [44]:
# sub(), findall() function using regex module aka regular expression.
import re
str1 = " A quick brown fox jumps over the lazy dog"
new_str1 = re.sub(r"fox", "bear", str1) 
print(new_str1)

str2 = "How much wood would a woodchuck chuck, if a woodchuck could chuck wood?"
new_str2 = re.findall(r"woo", str2)
print(new_str2)

 A quick brown bear jumps over the lazy dog
['woo', 'woo', 'woo', 'woo']